<a href="/logout">LogOut</a> <br> <br>
<% if(role=="Admin"){%>
    <form action="user-signUp/create" method="POST">
        Enter Email: <input type="text" name="email"> <br>
        Enter password: <input type="text" name="password"> <br>
        Enter passsword again <input type="text" name="confirm_password"> <br>
        Enter name: <input type="text" name="name"> <br>
        Enter age: <input type="text" name="age"> <br>
        Enter Gender: <input type="text" name="sex"> <br>
        <input type="submit" name="submit" value="submit"> <br>
    
    </form>
    <% } %>
  
   <% for(user of users){ %>
     <a href="/profile/<%= user._id%>"><%= user.name %></a> <br>
    <% } %>
    <% for(reviewPending of main_user.reviewPending){ %>
        Pending Review: <a href="/reviewPage/<%=reviewPending.id%>"><%= reviewPending.name %></a> <br> <br>
        <% } %>
    <% for(reviewGot of main_user.reviewGot){%>
        Cooperation: <%= reviewGot.cooperation %>
        Punctual: <%= reviewGot.punctual %>
        Work: <%= reviewGot.work %>
        Creativity: <%= reviewGot.creativity %>
        adaptability: <%= reviewGot.adaptability %> <br>
        <% if(reviewGot.description!=""){%>
        Description: <%= reviewGot.description %> <br> 
            <% }%>
        <% } %>
    